<div class="footer">
  <div class="left">
    <div class="logo">
      <img
        src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
        alt="themoviedb"
      />
    </div>
    <div class="comm"> JOIN THE COMMUNITY</div>
  </div>
  <div class="right">
    <h2>
      Kindly note the idea for this project is from
      <a href="https://www.themoviedb.org/movie">THEMOVIEDB</a>.
    </h2>
    <h3>copyright &copy; 2022</h3>
  </div>
</div>
